body{
    background:gray;
}
.top-section{
    border: 6px solid red;
    color: crimson;
    background:white;
    font-weight: bolder;
    display: inline-block;
    width: 300px;
    height: 100px;
    text-align: center;
    text-shadow: 0 0 3px;
    padding: 10px;
    position: relative;
    left: 500px;
    font-size: 30px;
    border-radius: 25px;
    font-style: oblique; 
}
.middle-section{
    border: 6px solid green;
    width: 1450px;
    height: 600px;
    position: relative;
    background: gray;
    
    
}
.box1{
    width: 250px;
    height: 250px;
    border: 6px solid red;
    border-radius: 20px;
    background: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 3px #ff0000,0 0 5px #0000ff;
    box-shadow: 5px 5px purple ;
    color:purple;
    font-size: 30px;
    top: 0;
    left: 0;
}
.box2 {
    width: 250px;
    height: 250px;
    border: 6px solid red;
    border-radius: 20px;
    background: white;
    text-align: center;
    box-shadow: 5px 5px purple;
    color: blue;
    font-size: 30px;
    position: absolute;
    top: 0;
    right:100px;

}
.image{
    /* width: 100%;
    height:100%; */
    max-width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    top: 20px;
    object-fit: cover;
    

}
.box3 {
    width: 250px;
    height: 250px;
    border: 6px solid red;
    border-radius: 20px;
    background: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    box-shadow: 5px 5px purple;
    color: purple;
    font-size: 30px;
    position: absolute; 
    bottom: 0;
    left: 0;
}
.box4 {
    width: 250px;
    height: 250px;
    border: 6px solid red;
    border-radius: 20px;
    background: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    box-shadow: 5px 5px purple;
    color: blue;
    font-size: 30px;
    position: absolute; 
    bottom: 0;
    right: 100px;
}
.box5{
    border: 6px solid red;
        color: crimson;
        font-size: 25px;
        background:greenyellow;
        display: inline-block;
        border-radius: 25px;
        width: 600px;
        height: 100px;
        text-align: center;
        position:fixed;
        top: 600px;
        left: 400px;
        z-index: 5;
        
}
.key1{
    font: 2px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.key2{
    font: 3px;
    font-weight: bold;
    text-align: center;
    
    }
.last-section{
    border: 6px solid purple;
        width: 700px;
        height: 600px;
        left: 350px;
        background:green;
        position: relative;
        margin-top: 25px;
        /* display: flex;
        flex-direction: row ;
        justify-content:space-between ; */

}    
.menu-box1{
    width: 345px;
    height: 200px;
    background:rgb(235, 235, 107);
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-style: oblique;


}
.menu-box2 {
    width: 345px;
    height: 200px;
    background: rgb(235, 235, 107);
    position: absolute;
    top:67px ;
    right:0; 
    font-size: 18px;
    text-align: center;
    font-style: oblique;

}
.menu-box3{
    width: 690px;
    height: 300px;
    background-color: rgb(235, 235, 107);
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-style: oblique;
}
.text1{
    text-align:left;
    font-size: 25px;
    font-weight:bolder;
    font-style: oblique;
    position: relative;
    top: 25px;
    left: 20px;

}
.text2{
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    font-style: oblique;
    position: relative;
    bottom: 30px;
    right: 20px;

}